@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Shadows+Into+Light&display=swap');

header {
    font-family: "Gugi", sans-serif;
}


figure {
    margin: 0;
    padding: 20px;
    padding-bottom: 30px;
    width: 352px;
    border: 2px solid #000;
    text-align: right; 
}

img {
    border: 2px solid #000;
}


figcaption {
    font-family: "Shadows Into Light", sans-serif;
    margin-right: 25px;
}
